<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mystyle.css">
    <title>RailWayGo</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <div class="title"><a href="/"><h1 style="color:black">RailWayGo</h1></a></div>
            <div class="col"><a href="/line"><h1>노선도</h1></a></div>
            <div class="col"><h1>열차시간</h1></div>
        </div>
        <div class="middle">
            <div class="body-content">
                {% block line%}{% endblock%}
                {% block time%}{% endblock%}
                <!--역 모음 시작(1호선)-->
                {% block Seolhwa%}{% endblock%}
                <!--역 모음 끝(1호선)-->
            </div>
        </div>
        <div class="bottom">

        </div>
    </div>
</body>
</html>