docker_work/
js_work/230125/node_modules
js_work/230126/node_modules
js_work/230127/node_modules
js_work/230130/node_modules
js_work/230131/node_modules
js_work/230201/node_modules
js_work/230202/node_modules
js_work/230206/node_modules
js_work/230206/.parcel-cache
js_work/230207/node_modules
js_work/230207/.parcel-cache
js_work/230208/node_modules
js_work/230208/.parcel-cache
js_work/230209/node_modules
js_work/230209/.parcel-cache
js_work/230210/node_modules
js_work/230210/.parcel-cache
js_work/230213/node_modules
js_work/230213/.parcel-cache
js_work/230214/node_modules
js_work/230214/.parcel-cache
js_work/230215/node_modules
js_work/230215/.parcel-cache
js_work/230216/node_modules
js_work/230216/.parcel-cache
js_work/230217/node_modules
js_work/230217/.parcel-cache
js_work/230220/node_modules
js_work/230220/.parcel-cache
js_work/myapp/node_modules
react_work/mypro/front/node_modules
react_work/ex11/node_modules
react_work/ex12/node_modules
react_work/ex13_memo/node_modules
react_work/ex13_usememo/node_modules
react_work/ex13_usecallback/node_modules
react_work\ex14_usecontext\node_modules
/c#_work
/react_work
/로또발표/lotto
/CHDH

html_work/230120/node_modules
flas_work/230110/static
/spring_work\org
