@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lilita+One&display=swap');
*{
    font-family: 'Jua','Lilita One', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}