<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h2>더하기= {{c}}</h2>
    <h2>빼기 ={{d}}</h2>
    <h2>나누기 ={{e}}</h2>
    <h2>나머지 ={{f}}</h2>
    <h2>제곱 ={{g}}</h2>
    <h2>곱하기 = {% print(h) %}</h2>
    <h1>계산기</h1>
    </div>
    <div>
    <form action=""><!-- 여기로 가세요, method방식이 없으면 get방식 -->
        첫번째 수<input type="text" name="first" id=""></br><!-- root로 값을 들고간다-->
        두번째 수<input type="text" name="second" id="">
        <input type="submit" value="계산"><!-- 계산 버튼을 누르게 되면 form action을 요청한다-->
    </form>
    <h1><a href="/random">random</a></h1>
</div>
</body>
</html>