<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
  <h1>view.html</h1>

  <h2>제목</h2>
  {{res[1]}}
  <h2>내용</h2>
  <p>{{res[2]}}</p>
  <h2>작성자</h2>
  <p>{{res[3]}}</p>
  <h2>조회수</h2>
  <p>{{res[4]}}</p>
  <h2>작성날짜</h2>
  <p>{{res[5]}}</p>
  <div style="position: relative">
    <div style="position: absolute">
      <a class="btn btn-primary" href="/">목록</a>
    </div>
    <div
      class="d-flex justify-content-end"
      style="position: absolute; top: 0; right: 0"
    >
      <a class="btn btn-primary" href="/freeboard/updateform?idx={{res[0]}}"
        >수정</a
      >
      <a class="btn btn-primary" href="/freeboard/delete?idx={{res[0]}}"
        >삭제</a
      >
    </div>
  </div>
</div>
</body>
</html>